* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trispace', sans-serif;
    background-color: antiquewhite;
}

.container {
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
}

#top {

    display: flex;
    justify-content: space-between;

}

.top-holder {
    float: left;
    width: 50%;
}

.top-bannar {
    border-left: 3px solid red;
    width: 70%;


}

.top-bannar-color {
    color: orange;
}

.top-bannar-btn a {
    background-color: orangered;
    width: 150px;
    width: 15%;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
}

.top-bannar-image img {
    width: 90%;
    height: 300px;
    float: right;
    padding-right: 30px;



}

/* My Mission Added */
.my-mission {
    text-align: center;
    padding: 20px;
}

.my-life {
    display: flex;
    padding-bottom: 40px;



}

.mission img {
    width: 100px;
    height: 100px;


}

.mission {
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    width: 30%;
    border-radius: 15px;
}

.vision img {
    width: 100px;
    height: 100px;
}

.vision {
    background-color: burlywood;
    margin: 10px;
    padding: 10px;
    width: 30%;
    border-radius: 15px;
}

.goals img {
    width: 100px;
    height: 100px;
}

.goals {
    background-color: khaki;
    margin: 10px;
    padding: 10px;
    width: 30%;
    border-radius: 15px;
}

/* My Mission Ended */


/* Develop without limits start */
.develop {
    display: flex;
    width: 100%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;

}

.develop-limits img {
    width: 300px;
    height: 350px;
    padding-left: 70px;
}

.develop-limits {
    float: left;
    width: 40%;
}

.develop-info {
    float: right;
    width: 50%;
    padding-top: 60px;
    padding-left: 30px;
    text-align: justify;

}

/* Develop without limits ended */

/* Know Our Global Community Added */

.globe {
    display: flex;
    width: 100%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 150px;
}

.global-community {
    float: left;
    padding-top: 100px;
    width: 60%;
    margin-right: 10px;
}

.global-community-image img {
    width: 300px;
    height: 350px;
}

/* Know Our Global Community Ended */

.build {
    text-align: center;
    padding: 40px;
}

.Build-App {
    display: flex;
}

.covid img {
    width: 300px;
    height: 450px;
    float: left;
    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 80px;

    background-image: url(images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 80px;

}

.covid-info {
    float: right;
    padding-top: 130px;
    width: 60%;
    padding-right: 30px;
    text-align: justify;
}

/*  */

/* Footer add */
.foot {
    background-color: black;
    color: white;
    height: 140px;
    width: 1040px;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 30px;

}

.foot h1 {
    font-family: 'Pacifico', cursive;
}

.year {
    font-size: 50px;
}